[class^="modal-dialog-wrapper"]:hover {
    cursor: pointer;
}

[class^="modal-dialog-background"] {
    z-index: 19;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    display: none;
}

[class^="modal-dialog-popup"] {
    z-index: 20;
    position: relative;
    background-color: rgb(255, 255, 255);
    max-width: 90vw;
    max-height: 90vh;
}
